<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>LiFE Parental Control</vendor>
  <vendor_url>https://www.tuxfamily.org</vendor_url>

  <action id="org.tuxfamily.life-parental-control.admin">
    <description>Run LiFE Parental Control with administrator rights</description>
    <message>LiFE Parental Control needs administrator access to manage /etc/life-parental, cron jobs, and KDE integration.</message>
    <icon_name>applications-system</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
